<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card mr-3  ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				
				<div class="search-container my-3">
					<input onKeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contacts" />
					<div class="search-result">
						<h2>This is Search Result</h2>
					</div>
				</div>
				<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contact}">
							<th scope="row" th:text="${'SCM2025'+c.contactId}">1</th>
							<td><img class="my_profile_picture" th:src="@{/img/user.png}" alt="profile photo" /><span th:text="${c.firstname}"></span></td>
							<td>
   								 <a th:href="@{'/user/contact/'+${c.contactId}}"> 
									<span th:text="${c.email}"></span>
								</a>
							</td>
							<td th:text="${c.phone}"></td>
							<td>
								<a th:href="@{'/user/delete/'+${c.contactId}}" th:onclick="|deleteContact(${c.contactId})|" class="btn btn-danger btn-sm">Delete</a>
								<a th:href="@{'/user/updateContact/'+${c.contactId}}" class="btn btn-primary btn-sm">Update</a>
							</td>
						</tr> 
					</tbody>
				</table>
				</div>
				<!-- Pagination Part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/view_Contact/'+${currentPage-1}}" class="page-link" href="#"></a>Previous</li>
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/view_Contact/'+${i-1}}" class="page-link" href="#"></a><span th:text="${i}"></span></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/view_Contact/'+${currentPage+1}}" class="page-link" href="#"></a>Next</li>
					</ul>
				</nav>
			</div>
		</div>
		<script>
		$(document).ready(()=>
		{
			$(".items").removeClass("active");
			$("#viewcontact-link").addClass("active");
		});
	</script>
	</section>
</body>
</html>