<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<section>


    <!-- About Us Section -->
    <section id="about">
        <h2 style="text-decoration: underline;">About Us - Smart Contact Manager</h2>
        <p style="font-size:25px">Welcome To Smart Contact Manager, Your Go-To Solution For Efficient And Intelligent Contact Management. Out Project Is Designed To Help Individuals And Businesses Organize, Access, And Manage Their Contacts With Ease.</p>
    </section>

    <!-- Project Section -->
    <section id="project">
       
        <div class="project-container">
            <div class="project">
              
                <div class="details">
                    <h2>Project Title</h2>
                    <p style="font-size:20px">This project was designed and developed with a focus on user experience and performance. It incorporates the latest web technologies and modern design principles.</p>
                    <div class="technologies">
                        <h2 style="padding-top: 15px;">Technologies Used:</h2>

                        <ul style="padding-top: 15px;">
                            <li style="font-size:20px">HTML5, CSS3, JavaScript, Bootstrap</li>
                            <li style="font-size:20px">Java, Spring Boot</li>
                            <li style="font-size:20px">Spring MVC, Spring Security</li>
                            <li style="font-size:20px">Spring Data JPA</li>
                            <li style="font-size:20px">Thymeleaf, MySQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->

    
	</section>
</body>
</html>