<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="my-card mt-3">
					<div id="login-box" class="col-md-12" >
						<div class="image text-center">
				 			<img style="width:80px" th:src="@{/img/call.png}" alt="" />
				 		</div>
						<h1 class="text-center m-3">Contact Us</h1>
						<form th:action="@{/submitcontact}" method="post">
							<div class="form-group">
				 				<label for="exampleInputName">Your Name</label>
				 				<input name="name" type="text" class="form-control" id="email_fields" aria-describedby="emailHelp" placeholder="Enter Name Here." required/>
				 			</div>
				 			
							<div class="form-group">
				 				<label for="exampleInputEmail">Your Email</label>
				 				<input name="email" type="email" class="form-control" id="email_fields" aria-describedby="emailHelp" placeholder="Enter Email Here." required/>
				 			</div>
				 			
				 			<div class="form-group">
				 				<label for="exampleInputMessage">Message</label>
				 				<textarea name="message" rows="10" class="form-control" placeholder="Enter Message Here!"></textarea>
				 			</div>
				 			
							<div class="container text-center">
								<button type="submit" class="btn btn-warning">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>
</html>