<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
				 	<div class="my-card mt-3">
				 		<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
				 			<p class="text-center" th:text="${session.message.content}"></p>
				 			<!--<th:block th:text="${session.removeAttribute('message')}"></th:block>-->
				 		</div>
				 		<div class="image text-center">
				 			<img style="width:80px" th:src="@{/img/membership.png}" alt="" />
				 		</div>
				 		<h1 class="text-center">Register Here!</h1>
				 		<form th:action="@{/register}" th:object="${user}" method="post">
				 		
				 			<div class="form-group">
				 				<label for="exampleInputName">Your Name</label>
				 				<input name="name" type="text" class="form-control" th:fields="*{name}" id="name_fields" aria-describedby="nameHelp" placeholder="Enter Here." required/>
				 				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				 					
				 				</div> 
				 			</div>
				 			
				 			<div class="form-group">
				 				<label for="exampleInputEmail">Your Email</label>
				 				<input name="email" type="email" class="form-control" id="email_fields" th:tex="${user.email}" aria-describedby="emailHelp" placeholder="Enter Here." required/>
				 			</div>
				 			
				 			<div class="form-group">
				 				<label for="exampleInputPassword">Your Password</label>
				 				<input name="password" type="password" class="form-control" id="password_fields" aria-describedby="passwordHelp" placeholder="Enter Here." required/>
				 			</div>
				 			
				 			<div class="form-group">
				 				<textarea name="about" rows="10" class="form-control" th:tex="${user.about}" placeholder="Enter Something Yourself"></textarea>
				 			</div>
				 			
				 			<div class="form-group form-check">
				 				<input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
				 				<label for="agreement">Accept Terms And Conditions</label>
				 			</div>
				 			
				 			<div class="button text-center">
				 				<button type="submit" class="btn bg-primary text-white btn-block">Submit</button>
				 				<button type="reset" class="btn btn-warning text-white btn-block">Reset</button>
				 			</div>
				 		</form>
				 	</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>