<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>	
	 <div class="login">
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6 bg-white mt-5">
					<div id="login-box" class="col-md-12"  style="height:220px;">
						<div class="alert alert-success mt-3" role="alert">
							We Have Sent OTP To Your Email...
						</div>
						
						<form th:action="@{/sendOTP}" method="post">
							<div class="form-group">
								<input name="otp" required type="number" placeholder="Enter OPT Here!" class="form-control"/>
							</div>
							<div class="container text-center">
								<button class="btn btn-success">Verify</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>